#container-fileinput-carrusel{
    
    
height:auto;
   max-width: 70%;
   margin-bottom: 30px;
   word-wrap: break-word;
 
}



.file-input{
}
.file-preview-thumbnails{
    word-wrap: break-word;
  
   
}