#container-fileinput-carrusel{
    
    
height:auto;
width: auto;
   max-width:70%;
   min-width:70%;
   margin-bottom: 30px;
   word-wrap: break-word;
 
}




.file-preview-thumbnails{
    word-wrap: break-word;
  
   
}
