
.container {
	margin: 50px  auto  0px!important;
	justify-content: center;
}

.row { 
	justify-content: center;
	}

.card{
padding: 15px;
	margin:15px 50px 15px;
	height: 220px;

}
.blog-post{
	width: 800px;
}

.blog-thumb {
	margin-right: 20px;
}

.blog-list .blog-post .blog-txt {
    width: auto;
	float: none;
    padding-left: 0px;
}
.resumen_proyecto{
	padding-top: 0% !important;
	height: 95px;
	overflow: hidden!important;
overflow: inherit;
	
	word-wrap: break-word;
white-space: pre-line;
	text-overflow: ellipsis;

	text-align: justify;
	text-justify: inter-word; 
	background: -webkit-linear-gradient(#5c5353, #ffffff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


	.post-meta{
	margin-bottom: 0% !important;
	}

#pagination {
	display: flex;
	margin: 50px  auto;
	margin: 50px auto 0px;
	justify-content: center;
}
.pagination > li > a,
.pagination > li > span {
	 color: green !important;
	 background-color: white !important ;
	 border-color: white !important;
}
.pagination > .active > a{
color: white;
background-color: green;
}
.p80 {
	padding: 0px !important;
  }

.pagination > .active > a,
 .pagination > .active > a:focus,
  .pagination > .active > a:hover, 
  .pagination > .active > span,
   .pagination > .active > span:focus, 
   .pagination > .active > span:hover { 
	   color:white !important;
	   background-color: rgb(0, 63, 0) !important;
	    border-color: rgb(0, 63, 0)  !important;
	 }

	 .contenedor_msg {
		text-align: center;
		padding: 20px 40px;
		margin: 10% auto;
	}
	.mensaje {
		font-size: 24px;
		font-weight: 600;
		margin: 20px 0;
	}
	.descripcion_msg {
		font-size: 16px;
		line-height: 24px;
		margin: 16px 0;
	}
