
.container{
	width:72%;
	max-width: 72%;
}

.container-flex {
	margin: 50px  auto !important;
	justify-content: center;
	display: flex;
}

.row { 
	display:inline-block;
	
	justify-content: center;
	}


/*ERRORES*/
.error  > div{
color: rgb(250, 2, 2);
}
/*ERRORES*/